[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
gtts = "*"
sounddevice = "*"
scipy = "*"
playsound = "*"
pyobjc = "*"
getkey = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
